ul {
  position: relative;
     left: 35%;
list-style-type: none;
}


ul li {
  cursor: pointer;
  padding: 12px 8px 12px 40px;
  background: pink;
  font-size: 18px;
  transition: 0.2s;
width: 20%;
}


ul li:nth-child(odd)
 {
  background: #f9f9f9;
  width: 20%;

}

ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: flex;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 15%;
  padding: 10px;
text-align: center;
  font-size: 16px;
}


.addBtn {
  padding: 10px;
  width: 5%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
}

.addBtn:hover {
  background-color: #bbb;
}
p {
  font-size: 18px;
  color: #555;

  front-style: italic;
}
.filter-link {
  cursor: pointer;
  font-weight: normal;
  position: relative;
  left: 40%;
    background: pink;
    transition: 0.2s;
}

.filter-link.active {
  font-weight: bold;
  position: relative;
  left: 40%;
    background: white;
    transition: 0.2s;
}
.clearBtn {
  padding: 10px;
  width: 5%;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
}
